@using Microsoft.AspNetCore.Identity
@using Snaggy.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!doctype html>
<html lang="">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>@ViewData["Title"] - Snaggy</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/semantic/dist/semantic.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://oss.maxcdn.com/semantic-ui/2.2.2/semantic.min.css"
              asp-fallback-href="~/lib/semantic/dist/semantic.min.css"
              asp-fallback-test-class="ui button" asp-fallback-test-property="cursor" asp-fallback-test-value="pointer" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
<!-- Following Menu -->
<div class="ui large top pointing fixed menu">
    <div class="ui container">
        <a class="toc item">
            <i class="sidebar icon"></i>
            <span class="sr-only">Toggle Navigation</span>
        </a>
        <a href="/" class="header item">Snaggy</a>
        <menulink class="blue item" asp-area="" controller-name="Home" action-name="Index" menu-text="Home"></menulink>
        <menulink class="blue item" asp-area="" controller-name="Home" action-name="About" menu-text="About"></menulink>
        <menulink class="blue item" asp-area="" controller-name="Home" action-name="Contact" menu-text="Contact">Contact</menulink>

        @await Html.PartialAsync("_LoginPartial")
    </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
    <menulink class="blue item" asp-area="" controller-name="Home" action-name="Index" menu-text="Home"></menulink>
    <menulink class="blue item" asp-area="" controller-name="Home" action-name="About" menu-text="About"></menulink>
    <menulink class="blue item" asp-area="" controller-name="Home" action-name="Contact" menu-text="Contact"></menulink>

    @if (SignInManager.IsSignedIn(User))
    {
        <div class="blue item"><a asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)</a>
        </div>
        <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="item">
            <button type="submit" class="ui button">Log out</button>
        </form>
    }
    else
    {
        <menulink class="blue item" controller-name="Account" action-name="Login" menu-text="Log in"></menulink>
        <menulink class="blue item" controller-name="Account" action-name="Register" menu-text="Sign up"></menulink>
    }

</div>

<!-- Page Contents -->
<div class="pusher">
    <div class="ui container content">
        @RenderBody()
    </div>

    <div class="ui vertical footer segment">
        <div class="ui container">
            <div class="ui stackable  divided equal height stackable grid">
                <div class="three wide column">
                    <h4 class="ui header">About</h4>
                    <div class="ui  link list">
                        <a href="#" class="item">Sitemap</a>
                        <a href="#" class="item">Contact Us</a>
                        <a href="#" class="item">Link</a>
                        <a href="#" class="item">Link</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui header">Services</h4>
                    <div class="ui  link list">
                        <a href="#" class="item">Service One</a>
                        <a href="#" class="item">Service Two</a>
                        <a href="#" class="item">Service Three</a>
                        <a href="#" class="item">Service Four</a>
                    </div>
                </div>
                <div class="ten wide column">
                    <h4 class="ui header">Footer Header</h4>
                    <p>·--- -··- ·---- --· ·· ····- ----· --··-- -·- -· --- ··-· ···- ·- ··· ·--- ·--· ·-·-·- -- ··· -·-· ····· -- -··- -···· ---·· ·· ·-· ·· --· -··- ----- ·· ·-· ·--· --·- ·· --·· ··--- ····· ·-·</p>
                </div>
            </div>
        </div>
    </div>
</div>

<environment names="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/semantic/dist/semantic.js"></script>
    <script src="~/js/site.js"></script>
</environment>
<environment names="Staging,Production">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.4.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-rY/jv8mMhqDabXSo+UCggqKtdmBfd3qC2/KvyTDNQ6PcUJXaxK1tMepoQda4g5vB">
    </script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.2/semantic.min.js"
            asp-fallback-src="~/lib/semantic/dist/semantic.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-0XfhiWRXqhAYf5BFse4UCEkjECt8XD6jjNYREhYYI4ICheLSxfSaYbZn0y/29yO2">
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js"
        asp-fallback-src="~/lib/fetch/fetch.min.js"
        asp-fallback-test="fetch"
        crossorigin="anonymous"></script>
@RenderSection("scripts", required: false)
</body>
</html>
