@using System.Security.Claims
@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<script src="https://cdnjs.cloudflare.com/ajax/libs/riot/3.5.0/riot+compiler.min.js"
        asp-fallback-src="~/lib/riot/riot+compiler.min.js"
        asp-fallback-test="riot"
        crossorigin="anonymous"></script>

@if (((ClaimsIdentity) User.Identity).HasClaim(ClaimTypes.Role, "Admin") )
{
    <h2>Accepted applications</h2>

    <div id="applications" class="ui small segment">
        <div class="ui active inverted dimmer">
            <div class="ui large text loader">Loading</div>
        </div>
        <p><img src="./lib/semantic/examples/assets/images/wireframe/paragraph.png"/></p>
    </div>

    <script type="riot/tag">
              <application-tag>
                <div class="ui items">
                    <div class="item" each={ items }>
                        <div class="image">
                          <img src="./lib/semantic/examples/assets/images/wireframe/image.png">
                        </div>
                        <div class="content">
                          <div class="header">{ name }</div>
                          <div class="meta">
                            <span>Answers:</span>
                          </div>
                          <div class="description">
                            <div class="ui bulleted list">
                                <div class="item" each={ questions }>{ answer }</div>
                            </div>
                          </div>
                        </div>
                    </div>

                 this.items = opts.items;
              </application-tag>
        </script>
    <script type="text/javascript">
        fetch('/api/Application',
            {
                 method: 'GET',
                 credentials: 'same-origin',
                 headers: {
                     'Accept': 'application/json',
                     'Content-Type': 'application/json'
                 }
            }).then(function(r) { return r.json() }).then(function(apps) {
                // Arbitrary ux, avoids off-putting flash of "loading"
                setTimeout(function() {
                    riot.mount('#applications', 'application-tag', { items: [].concat(apps) });
                }, 200);
            });
    </script>
}
else
{
    <h2>Available openings</h2>

    <div id="openings" class="ui segment">
        <div class="ui active inverted dimmer">
            <div class="ui large text loader">Loading</div>
        </div>
        <p><img src="/lib/semantic/examples/assets/images/wireframe/paragraph.png"/></p>
    </div>

    <script type="riot/tag">
              <openings-tag>
                <div class="ui middle aligned divided list">
                  <div class="ui item" each={ items }>
                    <div class="right floated content">
                      <a href={ applicationUrl(solutionID) } class="ui button">Apply</a>
                    </div>
                    <img class="ui avatar image" src="/lib/semantic/examples/assets/images/wireframe/square-image.png">
                    <div class="content">
                      { name }
                    </div>
                  </div>
                </div>

                this.items = opts.items;
                this.applicationUrl = function(id) { return "/job/apply/" + id; };

                <style>
                    :scope { display: block }
                    :scope .right.floated.content { padding-top:0em; }
                </style>
              </openings-tag>
        </script>
    <script type="text/javascript">
        fetch('/api/Openings',
            {
                method: 'GET',
                credentials: 'same-origin',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            }).then(function(r) { return r.json() }).then(function(openings) {
                // Arbitrary ux, avoids off-putting flash of "loading"
                setTimeout(function() {
                    riot.mount('#openings', 'openings-tag', { items: [].concat(openings) });
                }, 200);
            });
    </script>
}
