@{
    ViewData["Title"] = "Access Denied!";
}

<h1 class="ui header">Access Denied</h1>
<h2 class="ui header">You don't have access to that location!</h2>

<div class="ui card">
    <a class="image" href="/">
        <img src="/images/falling.svg">
    </a>
    <div class="content">
        <a class="header" href="/">Don't slip up.</a>
        <div class="meta">
            <a>Please be careful.</a>
        </div>
    </div>
</div>