﻿@model Solution

@{
    ViewBag.Title = @Model.Name;
    Layout = "_Layout";
}

<h2>Apply for @Model.Name</h2>

<form class="ui large form validate-me" role="form" id="applicationForm">
    <div class="ui stacked segment">
        <div class="field">
            <label>Your name</label>
            <input type="text" name="name">
        </div>
        @for (int i = 0; i < Model.SolutionSet.Count; i++)
        {
            <div class="field">
                <label>@Model.SolutionSet[i].Question</label>
                <input type="text" name="questions[@Model.SolutionSet[i].Id]" placeholder="Your answer">
            </div>
        }
        <button id="submit-application" class="ui button" type="submit">Submit</button>
    </div>
</form>
<div class="ui bottom attached message hidden">
    <div class="header">
        <span id="messageResult"></span>
    </div>
    <p id="messageText"></p>
</div>

@section Scripts {
    <script type="text/javascript">
        $(function() {
            $('#applicationForm').submit(function(e) {
                e.preventDefault();
                var formData = new FormData(document.getElementById('applicationForm')),
                    result = {},
                    formKeys = formData.keys(),
                    formEntries = formData.entries();

                $('#submit-application').addClass('disabled').attr('disabled', true);

                // To iterate formEntries, condition is made on formKeys to avoid eagerly draining the iterator
                // NOTE: currentIndex assumes FormData is always in order. It's not set to either iterator, allowing multiple posted arrays of data.
                var currentIndex = 0;
                do {
                    var entry = formEntries.next().value;
                    if (Object.prototype.toString.call(entry).indexOf("Array") > 0) {
                        // if in format question[index], grab that property name and index
                        var matches = entry[0].match(/([^\[]*)\[([^\]]*)[\]]/);
                        if (matches !== null && matches !== undefined && 3 === matches.length) {
                            if (false === Array.isArray(result[matches[1]])) result[matches[1]] = [];
                            var questionId = matches[2];
                            result[matches[1]][currentIndex] = {
                                id: questionId,
                                answer: entry[1]
                            };
                            currentIndex++;
                        } else {
                            currentIndex = 0;
                            result[entry[0]] = entry[1];
                        }
                    }
                } while (!formKeys.next().done)

                fetch('/api/application',
                    {
                        method: 'POST',
                        credentials: 'same-origin',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(result)
                    }).then(function(response) {
                    return response.json();
                }).then(function(result) {
                    $('#messageResult').text('Your application was submitted.');
                    $('#messageText').text(result.message);
                    $('.message.hidden').removeClass('hidden');
                }).catch(function() {
                    $('#messageResult').text('Your application could not be submitted.');
                    $('#messageText').text('Please try again shortly.');
                    $('#submit-application').removeClass('disabled').removeAttr('disabled');
                    $('.message.hidden').removeClass('hidden');
                });
            });
        });
    </script>
}

