@{
    ViewData["Title"] = "Contact";
}
<div class="ui container">
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>
    <address>
        123 Any St<br/>
        Town, ZZ 10110-0001<br/>
        <abbr title="Phone">P:</abbr>
        800.649.2568
    </address>
</div>
