﻿@model object

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewBag.Title = "Snaggy";
    Layout = "_Layout";
}


@if (SignInManager.IsSignedIn(User))
{
    @await Html.PartialAsync("_UserDashboard")
}
else
{
    <div class="ui blue inverted vertical masthead center aligned segment">

        <div class="ui text container">

            <h1 class="ui inverted header">
                Snaggy
            </h1>
            <h2>Not just any job. <em>The</em> job.
            </h2>
            <a class="ui huge secondary button" href="/swagger">
                View API Documentation <i class="right arrow icon"></i>
            </a>
        </div>

    </div>
}