@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Log in";
}

<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui blue image header">
            <img src="/images/logo.svg" class="image">
            <div class="content">
                Log-in to your account
            </div>
        </h2>
        <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="ui large form validate-me" role="form" id="loginForm">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input asp-for="Email" placeholder="Email address">
                        <div asp-validation-for="LoginModel.Email"></div>
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input asp-for="Password" placeholder="Password">
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input asp-for="RememberMe" type="checkbox" tabindex="0" class="hidden"/>
                        <label>Remember Me</label>
                    </div>
                </div>
                <input type="submit" class="ui large blue submit button" value="Login"/>
            </div>

            <div class="ui message">
                Forgot your password? Click <a asp-action="ForgotPassword" asp-controller="Account">here</a>.
            </div>

            <div asp-validation-summary="All" class="ui error message"></div>

        </form>
    </div>
</div>

    @section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }
